<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:task="http://www.springframework.org/schema/task"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
    <!-- Initialization for data source -->
    <bean id="dataSource"  class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="com.mysql.jdbc.Driver"/>
        <property name="url" value="jdbc:mysql://45.78.41.190:3306/stock?useUnicode=true&amp;characterEncoding=utf8&amp;autoReconnect=true"/>
        <property name="username" value="root"/>
        <property name="password" value="l12345678"/>
    </bean>

    <context:component-scan base-package="com.luxinx.db,com.luxinx.service.impl"/>
    <bean id="dao" class="com.luxinx.db.IDaoImpl">
         <property name="dataSource"  ref="dataSource" />
     </bean>
    <!--  enable task annonation-->
    <task:annotation-driven executor="executor" scheduler="scheduler"/>
    <context:component-scan base-package="com.luxinx.task" />
    <task:executor id="executor" pool-size="5"/>
    <task:scheduler id="scheduler" pool-size="10"/>

</beans>